.skill {
  background: black;
  margin: 0;
  padding: 0;
  height: 80vh;
}

.object {
  border-radius: 50%;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform: translateY(40vh);
}

.p-orbit,
#m-orbit {
  border: 0.1vmin solid lightgrey;
  opacity: 0.5;
  background: transparent;
}

#belt {
  height: 60vmin;
  width: 60vmin;
  animation: spin 50s infinite linear;
  margin-top: 30vh;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

#m-orbit {
  height: 4vmin;
  width: 4vmin;
}

.planet,
#moon {
  z-index: 10;
}

#sun,
#moon,
#mercury,
#venus,
#earth,
#mars,
#jupiter,
#saturn,
#uranus,
#neptune {
  height: 8vmin;
  width: 8vmin;
}

#moon {
  background-color: white;
}

#saturn {
  border-radius: 50%;
}

/* Media Queries for responsiveness */
@media screen and (max-width: 768px) {
  .skill {
    height: 10vh;
  }

  .object {
    transform: translateY(10vh);
  }

  #belt {
    height: 40vmin;
    width: 40vmin;
    margin-top: 05vh;
  }

  #moon,
  #sun,
  #mercury,
  #venus,
  #earth,
  #mars,
  #jupiter,
  #saturn,
  #uranus,
  #neptune {
    height: 6vmin;
    width: 6vmin;
  }
}

/* Add more media queries as needed */
  /* .edu1{
    text-align: center;
padding-left: 30rem;
padding-bottom: 15rem;
            font-weight: 800rem;
            text-decoration: underline;
          
  } */
  .projects-info{
    /* text-align: center; */
    padding-top: 15rem;
    padding-left: 35rem;
padding-bottom: 15rem;
font-weight: 80rem;
/* text-decoration: underline; */
  }

  /* .projects-in1 */
  
  .projects_container {
    width: 80%;
    margin: 0 auto;
    background-color: transparent;
  }
  
  .project {
    width: 100%;
    /* height: 70vh; */
    margin: 6% 0% 6% 0%;
    box-shadow: var(--shadow);
    display: flex;
    border-radius: 20px;
    transition: all 0.5s ease 0s;
  }
  
  .project:hover {
    transform: scale(1.04);
    overflow: hidden;
    box-shadow: rgba(0, 0, 0, 0.36) 0px 10px 15px 0px,
      rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  }
  .project_videocontainer {
    flex-basis: 65%;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
  }
  
  .project_videocontainer > div {
    width: 90%;
    height: 90%;
    
    border-radius: 20px;
  }
  .project_videocontainer > div > img {
    width: 100%;
    height: 100%;
    border: 3px solid var(--clr-primary);
    border-radius: 20px;
  }
  
  .project_information {
    flex-basis: 35%;
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0% 3% 4% 3%;
    overflow-y: scroll;
    overflow-x: hidden;
    margin-bottom: 10px;
  }
  .project_information > h2 {
    margin-top: 1em;
    color: var(--clr-primary);
  }
  .project_information > p {
    margin-top: 1em;
    text-align: justify;
  }
  .project_information > div:nth-child(3) {
    margin-top: 0.5em;
    display: flex;
    justify-content: space-evenly;
  }
  
  .project_information > div:nth-child(3) > svg {
    font-size: 3em;
    margin: 2% 3% 2% 3%;
    color: var(--clr-primary);
    transition: all 0.2s ease-in-out;
  }
  
  .project_information > div:nth-child(3) > svg:hover {
    font-size: 3.3em;
  }
  
  .project_information > div:nth-child(4) {
    margin-top: 0.6em;
    display: flex;
  }
  .onbt {
    margin: 0 1vw 0 1vw;
  }
  .btns{
    color: var(--clr-primary);
    border: 2px solid var(--clr-primary);
    border-radius: 5px;
    height: auto;
    cursor: pointer;
    padding: 10px;
    margin-top: 10px;
  }
  .btns:hover{
    color: var(--clr-bg);
    border: 2px solid var(--clr-primary);
    background-color: var(--clr-primary);
  }
  .project_information > h3 {
    margin-top: 1.6em;
    color: var(--clr-primary);
  }
  .project_information::-webkit-scrollbar {
    display: none;
  }
  
  .allProjects{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .project {
      border: 2px solid var(--clr-primary);
      flex-direction: column;
    }
  
  @media (max-width: 800px) {
    .project {
      flex-direction: column;
      /* height: 100vh; */
    }
    .project_videocontainer {
      flex-basis: 40%;
    }
    .project_information {
      flex-basis: 60%;
    }
    .allProjects{
      display: grid;
      grid-template-columns: repeat(1, 1fr);
    }
    .projects_container {
      width: 100%;
      margin: 0 auto;
    }
  }

  .work-container{
    padding-top:60rem ;
  }
  